<h2>Eventos</h2>
<hr>

<div class="form-inline">
    <div class="col-6">
        <div class="input-group mb-2 border border-1 rounded border-success">
            <span class="input-group-text text-success fw-bold">Filtro: </span>
            <input type="text" class="form-control mr-2 col-6" placeholder="Buscar por tema ou local" [(ngModel)]="filtroLista">
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th (click)="isCollapsed = !isCollapsed"> 
                <button class="btn btn-sm btn-outline-light">
                    {{isCollapsed ? 'Expandir' : 'Recolher'}}
                </button> 
            </th>
            <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th class="text-center">Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length > 0">
        <tr class="align-middle" *ngFor="let e of eventosFiltrados" >
            <td class="text-center">
                <img 
                    src="{{e.imagemURL}}" alt="" 
                    [style.width.px]="widthImg"
                    [style.margin.px]="marginImg"
                    [collapse]="isCollapsed" 
                    [isAnimated]="true"
                > 
            </td>
            <td>{{e.id}}</td>
            <td>{{e.tema}}</td>
            <td>{{e.local}}</td>
            <td>{{e.dataEvento}}</td>
            <td>{{e.qtdPessoas}}</td>
            <td>{{e.lotes.length > 0 ? e.lotes[0].nome : 'Evento sem lotes'}}</td>
            <td class="text-center">
                <button class="btn btn-sm btn-primary me-2">Editar</button>
                <button class="btn btn-sm btn-danger">Excluir</button>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos || eventos.length <= 0">
        <tr>
            <td colspan="8">
                <h4 class="text-center">Nenhum evento encontrado</h4>
            </td>
        </tr>
    </tfoot>
</table>